{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "vue/no-multiple-template-root": "off",
    "multiline-ternary": "off"
  },
  "overrides": [
    {
      "files": ["./server/**/*.ts"],
      "rules": {
        "no-console": [
          "error",
          {
            "allow": ["info", "warn", "trace", "error"]
          }
        ]
      }
    }
  ]
}
